/*  모든 요소들은 default 마진, 패딩 제거 */
*{margin: 0; padding: 0;}
 
/* 화면에 너무 붙어 있어서...  */
body{
    padding: 30px;
    background-color: #F0F0EA;
}
 
/* header 영역  */
header{ padding: 5px;}
 
header a{text-decoration: none; color: #333333;}

.button {
    color: #222222;
    text-decoration: none;
    background-color: #8aaca4;
    border-radius: 20px;
    float: right;
    width: 80px;
    font-size:smaller;
    margin-left: 3px;
    margin-right: 4px;
    margin-bottom: 40px;
    margin-top: 0px;
    text-align: center;
    letter-spacing: .2em;

    }
 
/* nav 영역 */
nav{margin-top: 12px; margin-bottom: 20px;}
 
nav ul{
    list-style: none;
    border-top: 1px solid #517D73;
    border-bottom: 1px solid #517D73;
    text-align: center;
    align-items: center;
}
 
nav ul li{
    display: inline;
    letter-spacing: .3em;
    margin-left: 6em;
    margin-right:2em;
    
    align-items: center;

}
 
nav ul li a{
    text-decoration: none;
    color: black;
    line-height: 3em;
    text-transform: uppercase;
}

 
nav ul li a:hover{ text-decoration: underline;}
 
/* 왼쪽 사이드 메뉴 */
aside#left{
    float: left;
    width: 10em;
    margin-right: 1em;
}
 
aside#left ul{ list-style: none}
 
aside#left ul li{
    background-color: #3f3f3f;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}
 
aside#left ul li a{
    color: white;
    text-decoration: none;
}
 
aside#left ul li:hover{
    background-color: red;
}
 
aside#main{
    float: left;
}
 
/* 가운데 본문 영역 */
section#main{
    float: center;
    min-height: 500px; 

}
 
/* 오른쪽 사이드 메뉴 */
aside#right{
    float: right;
    padding: 10px;
    width: 12em;
}
 
 
aside#right #shopcart{
    margin-bottom: 30px;
}

 
/* footer영역 */
footer{
    clear: both;
    background-color: #444444;
    color: white;
    text-align: center;
    text-size-adjust: 3px;
    padding: 2em 0px;
}
