*{margin: 0; padding: 0;}

​
html{height: 100%}
body{position: relative;}
.signup{ text-align: center;padding: 20px;margin-left:60px;margin-right:60px; border:1px solid #ccc;  padding:25px 15px; box-sizing:border-box;}
.signup h1{width:100%; height:40px; font-size: 28px; color: #517D73; border-bottom:1px solid #517D73; padding-left:15px; box-sizing:border-box; background-repeat:no-repeat; background-position: 3px 5px; margin-bottom:30px;}

​

#user-name, #loginid ,#pw-check, #email, #phone-number #address-1 #address-2 {width:165px; height:23px;border:1px solid #999; box-sizing:border-box; margin-bottom:10px;}

.label-username{font-size:14px; color:rgb(12, 10, 10); margin-left:11px; margin-right: 16px;}
.labelid{font-size:14px; color:rgb(12, 10, 10); margin-left:1px; margin-right: 8px;}
.labelpw{font-size:14px; color:rgb(12, 10, 10); margin-left:1px; margin-right: 8px;}
.labelemail{font-size:14px; color:rgb(12, 10, 10); margin-left:1px; margin-right: 8px;}
.label-phone-num{font-size:14px; color:rgb(12, 10, 10); margin-left:1px; margin-right: 8px;}
.label-address1{font-size:14px; color:rgb(12, 10, 10); margin-left:1px; margin-right: 8px;}
.label-address2{font-size:14px; color:rgb(12, 10, 10); margin-left:1px; margin-right: 8px; margin-bottom:25px;}

.btnwrap{width:100%; text-align:center; }

.btnwrap label{position:absolute; left:-999em;}

.btnwrap a{width:129px; height:35px; background-color: #999;text-decoration: none; display: inline-block; border-radius:3px; color:#fff; font-size:14px; font-weight: bold; line-height: 35px;}

#loginbtn{width:129px; height:35px;  margin-top:20px;border:none; background-color: #517D73; border-radius:3px; color:#fff; font-size:14px; font-weight:bold; position:relative; top:1px;}


